<%= render :partial => "layouts/login" %>
<div class = "title">BUY A BOOK</div>
<div class = "searchBox"> 
  Search textbooks <%= text_field_tag ('search_box') %>
</div>

<div id = "bookResults">
</div>

<script type="text/javascript">
  searchField = document.getElementById("search_box");
  searchField.addEventListener("keyup", keydownHandler);
  
  //if blank, fill page with all options
  sendRequest(searchField.value);
  //otherwise, wait for a key to be released in textfield
  function keydownHandler(){
     sendRequest(searchField.value);
  }

  function sendRequest(substring){
  url = "../book/search?substring="+substring;
  console.log(url);
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.onreadystatechange=function()
  {
  console.log("in xml feedback");
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("bookResults").innerHTML=xmlhttp.responseText;
    }
  };
  
  xmlhttp.open("GET",url,true);
  xmlhttp.send();
  
  var text = this.responseText;
}
</script>
