	<div class = "title"> BOOKIE </div>
	<div class = "buttons">
		<a href = "/book/buy"><div class = "button" id = "buyButton"> BUY </div></a>
		<a href = "/book/new"><div class = "button" id = "sellButton"> SELL </div></a>
	</div> 
